[submodule "external/tree-sitter"]
	path = external/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
	ignore = dirty
[submodule "external/json"]
	path = external/json
	url = https://github.com/tree-sitter/tree-sitter-json
[submodule "external/python"]
	path = external/python
	url = git@github.com:tree-sitter/tree-sitter-python
